*{
    margin: 0;
    padding: 0;
}
#container {
    background-color: rgb(231, 164, 77);
    height: 100vh;
    display: flex;
    justify-content: center;  /*justift content flex end */
    align-items: center;
    gap: 24px;
    flex-wrap:wrap; 
  
}

.caixa {
    width: 140px;
    height: 140px;
    background-color: blueviolet;
    border: solid 6px black
}

@media (max-width:768px) {
    .caixa {
        width: 80 px;
        height: 80px;
    } 
}