*{
    margin: 0;
    padding: 0;
}

#externo{

    height: 100px;

    width: 400px;

    background-color: rgb(241, 118, 241);

    color: rgb(0, 0, 0);

}

main {
    height: 100vh;
    background-repeat: black;
}

div > h1 {

    color: white;

}

span + h1 {

    color: red;

}

h1 ~ p {

    color: aqua;

}

.btn {

    padding: 12px;

    background-color: rgb(190, 70, 61);

    border-radius: 12px;

    border: none;

    color: white;

    cursor: pointer;

}

.btn:active {

    background-color: rgb(32, 14, 14);

    color: rgb(127, 120, 131);

    box-shadow: 0 0 20px rgb(24, 12, 12);

}